<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On

    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteCond %{REQUEST_URI} !(\.eot|\.woff|\.ttf|\.svg|\.woff2|\.map|\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(barcode|css|js|images|dist|plugins)/(.*)$ public/$1/$2 [L,NC]
    RewriteRule ^(\.env|\.env.example|\.gitignore|\.editorconfig|\.gitattributes)$ - [R=404,NC,L]

    <FilesMatch ^((composer|package)\.json$|artisan|server\.php$|composer\.lock$|phpunit.xml$|webpack.mix.js|smart_school)$>
        Deny from all
    </FilesMatch>

</IfModule>
